USE [master]
GO
/****** Object:  Database [base_prueba]    Script Date: 13/10/2025 07:08:50 p. m. ******/
CREATE DATABASE [base_prueba]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'base_prueba', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\base_prueba.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'base_prueba_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\base_prueba_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [base_prueba].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [base_prueba]
GO
/****** Object:  User [UsuarioTemporal]    Script Date: 13/10/2025 07:08:50 p. m. ******/
CREATE USER [UsuarioTemporal] FOR LOGIN [UsuarioTemporal] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [UsuarioTemporal]
GO
/****** Object:  Table [dbo].[Avatar]    Script Date: 13/10/2025 07:08:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Avatar](
	[id_avatar] [int] IDENTITY(1,1) NOT NULL,
	[path] [varchar](300) NULL,
	[avatar_name] [varchar](50) NULL,
 CONSTRAINT [PK_Avatar] PRIMARY KEY CLUSTERED 
(
	[id_avatar] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Banned]    Script Date: 13/10/2025 07:08:51 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Banned](
	[id_banned] [int] IDENTITY(1,1) NOT NULL,
	[id_user] [int] NOT NULL,
	[ban_type] [varchar](50) NOT NULL,
	[reason] [varchar](150) NOT NULL,
	[banned_at] [datetime] NOT NULL,
	[unbanned_at] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Friendship]    Script Date: 13/10/2025 07:08:51 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Friendship](
	[id_user1] [int] NOT NULL,
	[id_user2] [int] IDENTITY(1,1) NOT NULL,
	[status] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Game]    Script Date: 13/10/2025 07:08:51 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Game](
	[id_game] [int] IDENTITY(1,1) NOT NULL,
	[id_winner] [varchar](45) NOT NULL,
 CONSTRAINT [PK_Game] PRIMARY KEY CLUSTERED 
(
	[id_game] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SocialMedia]    Script Date: 13/10/2025 07:08:51 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SocialMedia](
	[id_social_media] [int] IDENTITY(1,1) NOT NULL,
	[id_user] [int] NOT NULL,
	[facebook_user] [varchar](100) NULL,
	[instagram_user] [varchar](100) NULL,
 CONSTRAINT [PK_SocialMedia] PRIMARY KEY CLUSTERED 
(
	[id_social_media] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 13/10/2025 07:08:51 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[id_user] [int] IDENTITY(1,1) NOT NULL,
	[id_avatar] [int] NOT NULL,
	[nickname] [varchar](30) NOT NULL,
	[email] [varchar](30) NOT NULL,
	[registration_date] [datetime2](7) NOT NULL,
	[first_name] [varchar](30) NOT NULL,
	[paternal_last_name] [varchar](30) NOT NULL,
	[maternal_last_name] [varchar](30) NULL,
	[score] [int] NULL,
	[passwordHash] [varbinary](max) NULL,
	[passwordSalt] [varbinary](max) NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[id_user] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User_Game]    Script Date: 13/10/2025 07:08:51 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User_Game](
	[id_game] [int] NOT NULL,
	[id_user] [int] IDENTITY(1,1) NOT NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Avatar] ON 

INSERT [dbo].[Avatar] ([id_avatar], [path], [avatar_name]) VALUES (1, N'https://static.vecteezy.com/system/resources/previews/024/238/434/non_2x/ai-generated-small-robots-futuristic-marvels-of-artificial-intelligence-free-png.png', N'Robot')
SET IDENTITY_INSERT [dbo].[Avatar] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([id_user], [id_avatar], [nickname], [email], [registration_date], [first_name], [paternal_last_name], [maternal_last_name], [score], [passwordHash], [passwordSalt]) VALUES (1, 1, N'xXCarCasXx', N'carlos@gmail.com', CAST(N'2025-09-19T02:35:29.2084536' AS DateTime2), N'Carlos', N'Castillo', N'Barradas', NULL, NULL, NULL)
INSERT [dbo].[User] ([id_user], [id_avatar], [nickname], [email], [registration_date], [first_name], [paternal_last_name], [maternal_last_name], [score], [passwordHash], [passwordSalt]) VALUES (2, 1, N'pepito', N'pepe@gmail.com', CAST(N'2025-09-19T02:47:40.9230825' AS DateTime2), N'Pepe', N'Ruiz', N'Torres', NULL, NULL, NULL)
INSERT [dbo].[User] ([id_user], [id_avatar], [nickname], [email], [registration_date], [first_name], [paternal_last_name], [maternal_last_name], [score], [passwordHash], [passwordSalt]) VALUES (5, 1, N'rae', N'rachel@gmail.com', CAST(N'2025-09-26T00:31:31.5954415' AS DateTime2), N'Rachel', N'Escudero', N'Lazcano', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[User] OFF
GO
ALTER TABLE [dbo].[Banned]  WITH CHECK ADD  CONSTRAINT [FK_Banned_User] FOREIGN KEY([id_user])
REFERENCES [dbo].[User] ([id_user])
GO
ALTER TABLE [dbo].[Banned] CHECK CONSTRAINT [FK_Banned_User]
GO
ALTER TABLE [dbo].[Friendship]  WITH CHECK ADD  CONSTRAINT [FK_Friendship_User] FOREIGN KEY([id_user1])
REFERENCES [dbo].[User] ([id_user])
GO
ALTER TABLE [dbo].[Friendship] CHECK CONSTRAINT [FK_Friendship_User]
GO
ALTER TABLE [dbo].[Friendship]  WITH CHECK ADD  CONSTRAINT [FK_Friendship_User1] FOREIGN KEY([id_user2])
REFERENCES [dbo].[User] ([id_user])
GO
ALTER TABLE [dbo].[Friendship] CHECK CONSTRAINT [FK_Friendship_User1]
GO
ALTER TABLE [dbo].[SocialMedia]  WITH CHECK ADD  CONSTRAINT [FK_SocialMedia_User] FOREIGN KEY([id_user])
REFERENCES [dbo].[User] ([id_user])
GO
ALTER TABLE [dbo].[SocialMedia] CHECK CONSTRAINT [FK_SocialMedia_User]
GO
ALTER TABLE [dbo].[User_Game]  WITH CHECK ADD  CONSTRAINT [FK_User_Game_Game] FOREIGN KEY([id_game])
REFERENCES [dbo].[Game] ([id_game])
GO
ALTER TABLE [dbo].[User_Game] CHECK CONSTRAINT [FK_User_Game_Game]
GO
ALTER TABLE [dbo].[User_Game]  WITH CHECK ADD  CONSTRAINT [FK_User_Game_User] FOREIGN KEY([id_user])
REFERENCES [dbo].[User] ([id_user])
GO
ALTER TABLE [dbo].[User_Game] CHECK CONSTRAINT [FK_User_Game_User]
GO
USE [master]
GO
