USE [master]
GO
/****** Object:  Database [lottery_database]    Script Date: 05/11/2025 08:03:10 p. m. ******/
CREATE DATABASE [lottery_database]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'lottery_database', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\lottery_database.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'lottery_database_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\lottery_database_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [lottery_database].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [lottery_database]
GO
/****** Object:  User [lottery_user]    Script Date: 05/11/2025 08:03:10 p. m. ******/
CREATE USER [lottery_user] FOR LOGIN [lottery_user] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [lottery_user]
GO
/****** Object:  Table [dbo].[Avatar]    Script Date: 05/11/2025 08:03:10 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Avatar](
	[id_avatar] [int] IDENTITY(1,1) NOT NULL,
	[path] [nvarchar](300) NOT NULL,
	[avatar_name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_avatar] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Banned]    Script Date: 05/11/2025 08:03:10 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Banned](
	[id_banned] [int] IDENTITY(1,1) NOT NULL,
	[id_user] [int] NOT NULL,
	[reason] [nvarchar](255) NOT NULL,
	[moderator] [nvarchar](50) NOT NULL,
	[banned_at] [datetime] NOT NULL,
	[unbanned_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_banned] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Friendship]    Script Date: 05/11/2025 08:03:10 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Friendship](
	[id_friendship] [int] IDENTITY(1,1) NOT NULL,
	[id_user_sender] [int] NOT NULL,
	[id_user_receiver] [int] NOT NULL,
	[status] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_friendship] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Game]    Script Date: 05/11/2025 08:03:10 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Game](
	[id_game] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_game] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SocialMedia]    Script Date: 05/11/2025 08:03:10 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SocialMedia](
	[id_social_media] [int] IDENTITY(1,1) NOT NULL,
	[id_user] [int] NOT NULL,
	[facebook] [nvarchar](50) NULL,
	[instagram] [nvarchar](50) NULL,
	[tiktok] [nvarchar](50) NULL,
	[twitter] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_social_media] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 05/11/2025 08:03:10 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[id_user] [int] IDENTITY(1,1) NOT NULL,
	[id_avatar] [int] NOT NULL,
	[nickname] [nvarchar](50) NOT NULL,
	[email] [nvarchar](100) NOT NULL,
	[registration_date] [datetime] NOT NULL,
	[first_name] [nvarchar](50) NOT NULL,
	[paternal_last_name] [nvarchar](50) NOT NULL,
	[maternal_last_name] [nvarchar](50) NULL,
	[score] [int] NULL,
	[passwordHash] [varbinary](max) NULL,
	[passwordSalt] [varbinary](max) NULL,
	[isLocked] [bit] NULL,
	[status] [nvarchar](20) NOT NULL,
	[failedLoginAttempts] [int] NOT NULL,
	[lastLoginDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_user] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User_Game]    Script Date: 05/11/2025 08:03:10 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User_Game](
	[id_user] [int] NOT NULL,
	[id_game] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_user] ASC,
	[id_game] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Avatar] ON 

INSERT [dbo].[Avatar] ([id_avatar], [path], [avatar_name]) VALUES (1, N'/Images/avatar1.jpg', N'Panda')
SET IDENTITY_INSERT [dbo].[Avatar] OFF
GO
SET IDENTITY_INSERT [dbo].[SocialMedia] ON 

INSERT [dbo].[SocialMedia] ([id_social_media], [id_user], [facebook], [instagram], [tiktok], [twitter]) VALUES (1, 1018, N'EdgarFacebook', N'edgar_insta', N'edgar_tiktok', N'edgar_tw')
SET IDENTITY_INSERT [dbo].[SocialMedia] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([id_user], [id_avatar], [nickname], [email], [registration_date], [first_name], [paternal_last_name], [maternal_last_name], [score], [passwordHash], [passwordSalt], [isLocked], [status], [failedLoginAttempts], [lastLoginDate]) VALUES (1, 1, N'xXCarCasXx', N'carlos@gmail.com', CAST(N'2025-10-27T14:50:10.577' AS DateTime), N'Carlos', N'Castillo', N'Barradas', NULL, NULL, NULL, 0, N'Offline', 0, NULL)
SET IDENTITY_INSERT [dbo].[User] OFF
GO
ALTER TABLE [dbo].[Banned] ADD  DEFAULT (getdate()) FOR [banned_at]
GO
ALTER TABLE [dbo].[Friendship] ADD  DEFAULT ('Pending') FOR [status]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT (getdate()) FOR [registration_date]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT ((0)) FOR [isLocked]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT ('Offline') FOR [status]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT ((0)) FOR [failedLoginAttempts]
GO
ALTER TABLE [dbo].[Banned]  WITH CHECK ADD  CONSTRAINT [FK_Banned_User] FOREIGN KEY([id_user])
REFERENCES [dbo].[User] ([id_user])
GO
ALTER TABLE [dbo].[Banned] CHECK CONSTRAINT [FK_Banned_User]
GO
ALTER TABLE [dbo].[Friendship]  WITH CHECK ADD  CONSTRAINT [FK_Friendship_Receiver] FOREIGN KEY([id_user_receiver])
REFERENCES [dbo].[User] ([id_user])
GO
ALTER TABLE [dbo].[Friendship] CHECK CONSTRAINT [FK_Friendship_Receiver]
GO
ALTER TABLE [dbo].[Friendship]  WITH CHECK ADD  CONSTRAINT [FK_Friendship_Sender] FOREIGN KEY([id_user_sender])
REFERENCES [dbo].[User] ([id_user])
GO
ALTER TABLE [dbo].[Friendship] CHECK CONSTRAINT [FK_Friendship_Sender]
GO
ALTER TABLE [dbo].[SocialMedia]  WITH CHECK ADD  CONSTRAINT [FK_SocialMedia_User] FOREIGN KEY([id_user])
REFERENCES [dbo].[User] ([id_user])
GO
ALTER TABLE [dbo].[SocialMedia] CHECK CONSTRAINT [FK_SocialMedia_User]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Avatar] FOREIGN KEY([id_avatar])
REFERENCES [dbo].[Avatar] ([id_avatar])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Avatar]
GO
ALTER TABLE [dbo].[User_Game]  WITH CHECK ADD  CONSTRAINT [FK_User_Game_Game] FOREIGN KEY([id_game])
REFERENCES [dbo].[Game] ([id_game])
GO
ALTER TABLE [dbo].[User_Game] CHECK CONSTRAINT [FK_User_Game_Game]
GO
ALTER TABLE [dbo].[User_Game]  WITH CHECK ADD  CONSTRAINT [FK_User_Game_User] FOREIGN KEY([id_user])
REFERENCES [dbo].[User] ([id_user])
GO
ALTER TABLE [dbo].[User_Game] CHECK CONSTRAINT [FK_User_Game_User]
GO
USE [master]
GO
