<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<system.serviceModel>

		<behaviors>
			<serviceBehaviors>
				<behavior name="LotteryServiceBehavior">
					<serviceMetadata httpGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="true" />
				</behavior>
			</serviceBehaviors>
		</behaviors>

		<services>
			<service name="BusinessLogic.GameService" behaviorConfiguration="LotteryServiceBehavior">

				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8733/Lottery/" />
						<add baseAddress="net.tcp://localhost:8080/Lottery/" />
					</baseAddresses>
				</host>

				<endpoint address="GameService"
                          binding="netTcpBinding"
                          contract="Contracts.Services.Game.IGameService" />

				<endpoint address="mex"
                          binding="mexHttpBinding"
                          contract="IMetadataExchange" />

			</service>
		</services>

	</system.serviceModel>
</configuration>