<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings configProtectionProvider="RsaProtectedConfigurationProvider">
        <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
            xmlns="http://www.w3.org/2001/04/xmlenc#">
            <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#aes256-cbc" />
            <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
                    <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-oaep-mgf1p" />
                    <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                        <KeyName>Rsa Key</KeyName>
                    </KeyInfo>
                    <CipherData>
                        <CipherValue>IDAQ/r3ZEyo+EuKOH7f9pimp0IrBwEatSSu5eTRxERhcaD8sjxGzW8HJEXURjtp4X2SirDuga7+zxWiJWQY6jLhzZMD5gojXbf3OGv439Qslq8QHQ9KHXKlbP5rxrvo6qlmQd2mUyZfzjIjSawK8nAUcsk6F+8IGQGtWnTho3vzxCrbZa+u/UwsOrBzyX3yjJ66KnD89ybao6rwBJEkWgMPsZf6ut9tIFAi5fxc0rw02nJFwJ/li2gDeYfiSGuBGVob+a+phDlhTkef/P7T4YylPfwYhzPPo6CDTZbg/RIPwNw4yRfgP5NFLJbHbzrqbxyOrRXfw9bAGnhL1Ugk7ZQ==</CipherValue>
                    </CipherData>
                </EncryptedKey>
            </KeyInfo>
            <CipherData>
                <CipherValue>xqnzimnaO1NqBgfYRg3GlVvMyj2SbLqcAe8WveXw9v9sdO2NT07K/S2s94EbAkga</CipherValue>
            </CipherData>
        </EncryptedData>
    </connectionStrings>
</configuration>